

/* const logo = document.querySelectorAll("#logo path");

for(let i = 0; i<logo.length; i++){
    console.log(`Letter ${i} is ${logo[i].getTotalLength()}`);
} */

/* #opening {
    width: 100%;
    height: 100%;
    animation: fadeanimation 4.5s ease-in forwards 0.5s;
} */

/* #logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: fill 0.5s ease forwards 1s;
}

#logo path:nth-child(1) {
    stroke-dasharray: 2595.268798828125;
    stroke-dashoffset: 2595.268798828125;
    animation: line-anim fill 2s ease forwards;
}

#logo path:nth-child(2) {
    stroke-dasharray: 42461.675048828125;
    stroke-dashoffset: 42461.675048828125;
    animation: line-anim fill 2s ease forwards 0.2s;
}

@keyframes line-anim {
    to {
        stroke-dashoffset: 0;
    }
}

@keyframes fill {
    from {
        fill: transparent;
    }
    to {
        fill: #684500;
    }
}

@keyframes fadeanimation {
    80% {
        opacity: 1;
        visibility: visible;
    }
    100% {
        opacity: 0;
        display: none;
    }
} */